body {
  background-color: #222;
}

.container {
  max-width: 860px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 20px;
  background-color: lightcoral;
  margin: 100px auto;
  padding: 20px;
  border-radius: 30px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.img-box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.fruit-name {
  font-family: sans-serif;
  font-size: 18px;
  color: #444;
  font-weight: 600;
}
